*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f3f9;
  overflow-x: hidden;
}
h1,
h2,
h3,
p,
a {
  font-family: "Montserrat", sans-serif;
  color: #3d405b;
}
.main-nav {
  display: none;
}

.b {
  font-weight: bold;
}

.logo {
  background-image: url("../assets/Signal.svg");
  background-repeat: no-repeat;
  width: 111px;
  height: 46px;
  margin-top: 2%;
}

.logitech {
  letter-spacing: 2.8px;
  color: #979bbf;
  text-transform: uppercase;
  font-size: 14px;
}
.read-more {
  font-size: 18px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.nav-img {
  background-image: url("../assets/nav.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 24px;
  margin-top: 2%;
}
#header {
  width: 100%;
  overflow: hidden;
}
.header-nav {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  position: relative;
  .main-nav {
    display: none;

    ul {
      list-style: none;
      display: flex;
      li {
        margin-top: 3%;
        a {
          text-decoration: none;
          font-weight: bold;
          font-size: 20px;
        }
      }
    }
    .log-in {
      background-color: #3d405b;
      color: white;
      padding: 9px 20px;
      height: 100%;
      border: 1px solid #f2f3f9;
      border-radius: 41px;
      font-size: 18px;
    }
  }
}

// drop down menu

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: absolute;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: bold;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.col-char,
.active {
  color: #c6091b;
}

.line {
  background-image: url("../assets/dots.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 50px;
}

.wrapper {
  position: relative;
  .content-holder {
    width: 80%;
    margin: auto;
    h1 {
      letter-spacing: -1.8px;
      font-size: 36px;
      padding: 18px 0;
    }
    p {
      font-size: 18px;
      padding: 18px 0;
    }
  }
  .img-cont {
    .header-img {
      position: absolute;
      left: -200%;
      top: -10%;
    }
  }
  .offer-container {
    margin-left: 10%;
  }
}

// slideshow

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 90%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #f2f3f9;
  top: 50%;
  left: 10%;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

#products {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  padding: 10% 0;
  flex-direction: column;
  .product-disc {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    p {
      font-size: 24px;
    }
    .product-buttons {
      display: flex;
      flex-wrap: wrap;
      .btn {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 60%;
        font-size: 20px;
        margin: 8% 18%;
        padding: 4% 5%;
        cursor: pointer;
      }
      .see-our {
        color: #3d405b;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid #c6091b;
      }
      .contact {
        border: 1px solid #dfe0e9;
        border-radius: 43px;
        color: #3d405b;
        background-color: transparent;
      }
    }
  }
  .product-boxxes {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 90%;
    margin: auto;
    .p-box {
      flex-basis: 0;
      flex-grow: 1;
      padding: 5% 0;
      .easy-int {
        background-image: url("../assets/integration.svg");
      }
      .int {
        background-image: url("../assets/antenna.svg");
      }
      .plug {
        background-image: url("../assets/plug_n_play.svg");
      }
      .reduce {
        background-image: url("../assets/Reduce_img.svg");
      }
      .p-img {
        background-repeat: no-repeat;
        width: 100px;
        height: 100px;
        margin: auto;
      }
      h3 {
        font-size: 30px;
        padding: 10% 0;
        text-align: center;
      }
      p {
        line-height: 2rem;
        font-size: 20px;
        text-align: center;
      }
    }
  }
}

#white-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-image: url("../assets/big.white.signal.svg");
  background-repeat: no-repeat;
  margin: auto;
  border-radius: 35px 35px 35px 0px;
  background-color: #fff;
  .text-cont {
    padding: 10%;
    h2 {
      font-size: 48px;
      padding: 10% 0;
    }
    line {
      padding: 10% 0;
    }
  }
  .white-boxxes {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 100%;
    margin: 0;

    padding: 5% 10%;

    .w-box {
      flex-basis: 0;
      flex-grow: 1;

      h2 {
        font-size: 64px;
        letter-spacing: -3.2px;
        padding: 3% 0;
      }
      p {
        font-size: 14px;
        text-transform: uppercase;
        padding: 0 0% 10% 0;
      }
    }
  }
}

#testimonials {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
  padding: 5%;
  .testimonial-cont {
    h3 {
      font-size: 42px;
      letter-spacing: -0.84px;
      padding: 10% 0;
    }
    p {
      font-size: 18px;
      color: #727589;
    }
  }
  .testimonial-boxes {
    padding: 10% 0;
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .t-box {
      flex-basis: 0;
      flex-grow: 1;
      width: 70%;
      margin: 5% 0;
      padding: 2% 1%;
      .profile {
        display: flex;
        padding-bottom: 5%;
        .name {
          padding: 0 5%;
          h3 {
            font-size: 24px;
          }
          p {
            letter-spacing: 2.8px;
            color: #979bbf;
            text-transform: uppercase;
            font-size: 14px;
          }
        }
      }
      p {
        font-size: 18px;
        letter-spacing: 0px;
        color: #727589;
      }
    }
    .t-box:hover {
      background-color: #fff;

      border-radius: 20px 20px 20px 0px;
    }
  }
}

.latest-news {
  padding: 5%;
  h2 {
    letter-spacing: -0.84px;
    color: #3d405b;
    font-size: 42px;
    padding: 10% 0;
  }
  .news-cont {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    padding: 10% 0;
    img {
      border-radius: 35px;
      max-width: 100%;
    }
    .news {
      .title {
        font-size: 24px;
        padding: 0;
        margin-top: 5%;
      }
    }
    p {
      font-size: 18px;
      color: #727589;
      padding: 5% 0;
    }
  }
}

footer {
  .footer-logo {
    background-image: url("../assets/Signal.Element.svg");
    background-repeat: no-repeat;
    height: 300px;
    background-position: center;
    position: relative;
    .logo {
      margin: auto;
      position: absolute;
      top: 43%;
      left: 38%;
    }
    p {
      font-size: 20px;
      position: absolute;
      text-align: center;
      bottom: 0;
      width: 80%;
      left: 10%;
    }
  }
  .footer-cont {
    width: 30%;
    margin: auto;
    button {
      color: #3d405b;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #c6091b;
      font-size: 18px;
      margin: 20% 0;
    }
    nav {
      ul {
        list-style: none;
        li {
          padding: 10% 0;
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media (min-width: 961px) {
  .main-nav {
    display: flex !important;
  }
  .dropdown {
    display: none;
  }
  .content-holder {
    width: 50% !important;
    margin: 0 10% !important;
  }
  .wrapper .img-cont .header-img {
    left: 0;
    top: -40%;
    width: 115%;
  }
  .slideshow-container {
    max-width: 700px;
    position: relative;
    margin: auto;
    margin-top: 15%;
  }

  #products {
    flex-direction: row;
    width: 80%;
  }
  #products .product-boxxes {
    flex-direction: row;
  }
  #products .product-boxxes .p-box {
    padding: 1% 8%;
  }
  #products .product-boxxes .p-box .p-img {
    margin: 0;
  }
  #products .product-boxxes .p-box h3 {
    font-size: 20px;
    padding: 10% 0;
    text-align: left;
  }
  #products .product-boxxes .p-box p {
    line-height: 1.5rem;
    font-size: 15px;
    text-align: left;
  }
  #white-container {
    flex-direction: row;
    width: 80%;
  }
  #white-container .white-boxxes {
    flex-direction: row;
    padding: 6% 0%;
  }
  #white-container .white-boxxes .w-box {
    margin: 0 5%;
  }
  #testimonials .testimonial-cont h3 {
    font-size: 42px;
    letter-spacing: -0.84px;
    padding: 5% 0;
  }
  #testimonials {
    width: 80%;
    flex-direction: row;
  }
  .testimonial-cont {
    width: 50%;
    margin: 0 5%;
  }
  #testimonials .testimonial-boxes {
    padding: 0;
  }
  .latest-news {
    width: 80%;
    margin: auto;
  }
  .latest-news h2 {
    padding: 0;
    padding-bottom: 5%;
  }
  .latest-news .news-cont {
    flex-direction: row;
    padding: 0;
  }
  .latest-news .news-cont img {
    border-radius: 35px;
    padding: 0 2%;
    height: 90%;
    width: 50%;
  }
  .news-box {
    display: flex;
    margin: 2% 0;
  }
  .latest-news .news-cont .news .title {
    margin: 0;
  }
  .latest-news .news-cont p {
    font-size: 18px;
    color: #727589;
    padding: 0;
  }
  footer .footer-logo .logo {
    margin: auto;
    position: absolute;
    top: 45%;
    left: 46%;
  }
  footer .footer-cont nav ul li {
    padding: 2% 0;
  }
  footer .footer-cont {
    width: 10%;
    margin: auto;
  }
  footer {
    margin-bottom: 2%;
  }
  footer .footer-logo p {
    font-size: 20px;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 40%;
    left: 28%;
  }
}






.reviews{
  width: 70%;
  margin:auto;
  padding:5% 0;
 label {
      font-size: 18px;
      color: #727589;
      padding: 1% 0;
 }
}

#btn1 {
  font-size: 18px;
      color: #fff;
      padding: 5px 10px;
      background-color: #3d405b;
      margin:1% 0 ;
      cursor: pointer;
}

.output-box{
  height: 20%;
  background-color: white;
  padding: 2%;
  margin: 2%;
  #output1 {
    font-size: 25px;
    color: #3d405b;
  }
 .output{
  padding:0 1%;
  margin: 2% 0;
}
}





.products {
  width: 70%;
  margin:auto;
  padding:5% 0;
}
.product{
  width: 33%;
}

.buy-button{
  font-size: 18px;
      color: #fff;
      padding: 5px 10px;
      background-color: #3d405b;
      margin:1% 0 ;
      cursor: pointer;
}





/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
